@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>I am an aspiring, beginner software engineer. I hope this project demonstrates a basic understanding of C#, ASP.NET MVC, SQL, HTML, and CSS.</p>
