@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" >Welcome To ABContacts</h1>
    <p > <a id="gotomycontacts" href="https://localhost:44360/Contact">Go To My Contacts</a></p>
</div>
